[2019-03-13 15:16] londumas opened #1 "DLA redshift distribution has a peak"
The DLA redshift distribution has a peak at `z~2.3`. This peak is unphysical and not observed in data.
The following plots show:
 - the DLA redshift distribution
 - the host quasar redshift distribution
 - the ratio between the host quasar redshift distribution and all quasar redshift distribution

![DLA_z_distribution](https://user-images.githubusercontent.com/3166436/54290445-96ca3a00-4570-11e9-

[2019-03-13 15:24] londumas opened #2 "exclusion radius for DLA with respect to background quasar"
Same issue as in https://github.com/igmhub/LyaCoLoRe/issues/40.
We might want an exclusion radius between the host quasar and the DLA.
The distribution of DLA has an unphysical peak near the host quasar, because of the mock cell resolution.

![distribution_vs_lRF](https://user-images.githubusercontent.com/3166436/54291022-8f576080-4571-11e9-86a9-5f90808d99df.png)

[2019-03-13 15:25] londumas commented on #1
Another place where it can be seen is in number vs (z,NHI).

![distribution_NHI](https://user-images.githubusercontent.com/3166436/54291285-f70dab80-4571-11e9-8c8b-39135c0ba74b.png)

[2019-03-13 15:31] londumas opened #3 "DLA distribution on the sky is not homogenous"
The distribution of DLA, and random DLA on the sky do not follow that of the
quasars. See plot bellow. Is that linked to the chunks?

![sky_QSO](https://user-images.githubusercontent.com/3166436/54291714-9af75700-4572-11e9-8e1c-8a0c0a013333.png)

![sky_DLA](https://user-images.githubusercontent.com/3166436/54291715-9af75700-4572-11e9-8ce1-654a115869ad.png)

![sky_random_DLA](https://user-images.gi

[2019-03-13 15:33] londumas opened #4 "DLAID and MOCKID are not integers"
DLAID and MOCKID are not unsigned integers (K) in the transmission files, instead they are floats.
This might prevent quickquasar from adding the DLA absorption.
[code]

[2019-03-13 15:35] londumas opened #5 "DLA absorption are not added to the mocks"
DLA absorption are not added to the mocks in `global/projecta/projectdirs/desi/mocks/lya_forest/saclay/v4.1/quick-0.3/`. It might be simply linked to issue https://github.com/igmhub/SaclayMockFeatures/issues/4.
The following plot shows the stack in 1d at the DLA restframe.

![stack_1d_DLA](https://user-images.githubusercontent.com/3166436/54292165-561ff000-4573-11e9-8f41-c088f88c0f0c.png)

[2019-03-13 15:43] londumas opened #6 "beta and growth_rate seem negative"
beta and growth_rate seem negative. It can also be simply an issue with too low statistics, that allows to jump from one local minimum (positive beta) to another (negative beta).
It can not be seen by eye on the correlation function.
[code]

![xi_auto_DLA](https://user-images.githubusercontent.com/3166436/54292465-dcd4cd00-4573-11e9-9c6b-a87e209e799d.png)

![beta_DLA](https://user-images.githubuse

[2019-03-13 15:49] londumas opened #7 "bias DLA might be too big"
The bias of DLA, looks too large, even larger than the quasar bias.
It might be an issue of low statistics. I have not taken the time yet to compute the error on bias,
from beta and f from the fitter.
On the plot the black point are the measurement, that must have systematics, from either galaxies or DLA. The blue curve is the evolution of the quasar bias for comparison.
[code]
![bias_DLA](https:/

[2019-03-13 16:03] londumas opened #8 "Different in low z tail between mock DLA and mock random DLA"
The low redshift tail looks different between mock DLA and mock random DLA.
It can be low number statistics.

![low_tail_DLA_z_distrib](https://user-images.githubusercontent.com/3166436/54294039-8f0d9400-4576-11e9-9f4c-e15fcc841c6f.png)

![high_tail_DLA_z_distrib](https://user-images.githubusercontent.com/3166436/54294040-8fa62a80-4576-11e9-9f54-41e11e32a42f.png)

![DLA_z_distrib](https://user-ima

[2019-03-13 16:09] londumas opened #9 "Differences in distribution of number of DLA per forest between data and mocks"
Same as issue https://github.com/igmhub/LyaCoLoRe/issues/33.
The number of DLA per forest is quite different between data DLA and mock DLA and random mock DLA.

![number_DLA_per_forest](https://user-images.githubusercontent.com/3166436/54294961-c6307500-4577-11e9-8744-ec424a04a07b.png)

[2019-03-13 16:13] londumas opened #10 "QSO high tail of z distribution different between mock and mock randoms"
The high tail of the redshift distribution is different between mock QSO and mock random QSO.

![high_tail_z_distrib_QSO](https://user-images.githubusercontent.com/3166436/54295348-71412e80-4578-11e9-880a-ef3f4d9b8732.png)

[2019-03-13 16:22] londumas opened #11 "drp is not zero"
Currently we measure `drp_QSO = -1.174 +/- 0.039`, `drp_DLA = -1.193 +/- 0.627`. There are no obvious reasons for this parameter to be different than zero. It might be simply linked to random fluctuations of the velocity on mocks. We want to look at that with 10 realizations.

[2019-03-14 11:01] TEtourneau commented on #9
I guess for randoms it's normal, since we need to have more DLA at the end in the catalog.

[2019-03-14 11:06] TEtourneau commented on #10
Are you talking about difference between masterRSD and random ? I don't see such difference in your plot.
Is the difference between masterRSD and desiDRQ due to the fact that the assign redshift to a quasar has some incertainties (due to observations) ?

[2019-03-14 14:30] jmarclegoff commented on #11
Hélion,
Do you really believe that drp_QSO = -1.174 +/- 0.039 can be a statistical fluctuation ?
Or you do not believe in the estimate of the error ?

[2019-03-14 14:36] jmarclegoff commented on #10
We cannot really see where the blue line is at z > 3.6.
However it looks like masterRSD is cut sharp at z=3.6, while masternoRSD is smooth.
Could it be that the two curves are inverted ?
The random are cut sharp at z = 3.6, which might be they miss the smearing due to velocity.

[2019-03-14 14:55] londumas commented on #11
@jmarclegoff, I don't know if you remember what we observed in your previous mocks (last year of my thesis),
but we also measured `drp!=0` in each realization, but the distribution was compatible with zero.
At that time, we concluded, through one of your plot where you looked at the velocity gradient along the z-axis, that it was linked to non vanishing large scale mode in the velocity gradient.
S

[2019-03-14 14:56] jmarclegoff commented on #9
The difference between mock and data is tricking on log scale, but actually Javier just needs to increase the DLA proba in the mock by ~10% to solve it.
Thomas, we indeed want more stat in the randoms, to make the statistical error due to random negligible. I think we should rather reach this by having random catalogues with the same DLA proba as for mocks, but having several random catalogues for

[2019-03-14 15:00] londumas commented on #9
@jmarclegoff, sorry for not being clear enough, the difference is not in the raw number. These histograms give the normalized distribution. The raw number is perfect.
The difference I want to point at in this plot is in the shape of the distribution of number of DLA per forests.
This is really not an important difference, and we don't have to get that perfectly ok.

[2019-03-14 15:00] jmarclegoff commented on #11
@londumas, now I think I remember. So let's wait for the additional realisations.
But what does it mean for real data ? The drp that we observe is meaningless or these non vanishing large scale mode in the velocity gradient exist in the mocks and not in the data ?
I would need to think more about that.

[2019-03-14 15:02] londumas commented on #2
@TEtourneau, I think that at least there should not be any DLA in the same large scale cell of a QSO? How big is that in Mph/h and in km/s?

[2019-03-14 15:13] TEtourneau commented on #2
The voxcells are (2.19 Mpc/h)^3 (used for the large scale field).
There is a condition in the code to draw a DLA, which is zmin < z_dla < z_qso.
I can add something to prevent drawing DLA in the same voxcell.

I was also thinking about adding a negative term in the probability of drawing a DLA:
P += - exp(-r^2 / r_exclusion^2)
in order to reproduce the distribution of the data.

[2019-03-14 15:14] jmarclegoff commented on #10
@londumas could you confirm whether the blue and orange curves are inverted or not, and could you produce a plot that shows only these two curves so that we can see where the blue curve is at z > 3.6 (I suspect it is below the red) ?

[2019-03-14 15:15] londumas commented on #10
@jmarclegoff, thanks for the remark. Indeed "masterRSD" and "random" have the same distribution on the tail at high z. Plotting them on different plots is better, they were not inverted, simply overplotted. Closing this issue. Sorry for the noise.

![QSO_master_RSD_high_tail](https://user-images.githubusercontent.com/3166436/54368151-394df000-4639-11e9-86ad-877573d28967.png)

![QSOrand_master_RSD_

[2019-03-14 15:17] londumas commented on #10
Just to keep track, the low z tail is ok also:

![QSO_master_RSD_low_tail](https://user-images.githubusercontent.com/3166436/54368523-f3455c00-4639-11e9-8174-fbe9f7a328e6.png)

![QSOrand_master_RSD_low_tail](https://user-images.githubusercontent.com/3166436/54368521-f3455c00-4639-11e9-82e9-f60bccf4f580.png)

[2019-03-14 15:17] #10 closed, assigned to TEtourneau

[2019-03-14 15:19] londumas commented on #2
@TEtourneau, Indeed the condition should be something like: `zmin < z_dla < z_qso-dz_cell`.
However, let's not aim at reproducing exactly the data, there are a lot of selection effect in the data that are not good. I would not add this function for now: `P += - exp(-r^2 / r_exclusion^2)`.
Maybe with the work of @solenechabanier, we will know better about the data at some point, but for now I don't

[2019-03-14 15:24] TEtourneau commented on #2
Yes sure.
So I just add something to prevent drawing a DLA in the same voxcell as a QSO ? Like your dz_cell example ?

[2019-03-14 15:25] londumas commented on #2
@TEtourneau, Yes, we don't want basically DLA to be the same as a QSO. Do you agree?

[2019-03-14 15:26] TEtourneau commented on #2
Yes totally !

[2019-03-14 16:03] jmarclegoff opened #12 "QSO autocorrelation decreases too fast with r"
For r>20 Mpc/h QSO-QSO CF is too low

![Screen Shot 2019-03-12 at 7 41 16 PM](https://user-images.githubusercontent.com/28785007/54372066-e39a3780-467a-11e9-9524-345311613ced.png)

[2019-03-14 16:07] jmarclegoff commented on #12
This is likely to be related to the default number of bins in the calculation of the lognormal P(k)
def LogNormalP(k,P,nk=32 x 1024)
![PastedGraphic-4](https://user-images.githubusercontent.com/28785007/54372398-86eb4c80-467b-11e9-8546-989172666225.png)
Increasing nk to def LogNormalP(k,P,nk=1024 x 1024) gives
![PastedGraphic-3](https://user-images.githubusercontent.com/28785007/54372438-9a96b300-

[2019-03-14 16:24] jmarclegoff commented on #3
This is a good point and a good lead to finding the problem.
Indeed there seem to be a lower density at the edges of the chunks.

[2019-03-14 16:31] jmarclegoff commented on #1
The shape of the DLA z distribution seems to be coming from that of the QSO distribution, which is really weird. @TEtourneau this is more in DrawQSO that we should look for the problem.

[2019-03-14 16:34] TEtourneau commented on #1
What do you mean the QSO distribution ?
If I plot the QSO z distribution from master.fits file, it seems reasonable:
![image](https://user-images.githubusercontent.com/36950825/54374457-73da7b80-467f-11e9-9706-10c0d575ae82.png)

[2019-03-14 16:48] jmarclegoff commented on #1
Ok, so the question is then how from this smooth QSO distribution do we get the QSODLA distribution that Hélion has plotted ?
If z_QSO = 2.2 the proba of a DLA is much higher than if z_QSO=2.3 has clearly displayed in Hélion's third plot ???
May be should involve Javier.

[2019-03-14 16:53] TEtourneau commented on #1
I already sent him a mail, but didn't get any answer yet. (I linked him the GitHub url)

[2019-03-14 18:27] londumas commented on #1
Here is a code reproducing the error. The effect is seen both in the DLA redshift distribution and in the host quasar distribution, but not in the quasar catalog.

![distrib](https://user-images.githubusercontent.com/3166436/54381900-783d6f00-4654-11e9-9f11-87c43694337f.png)

[code]

[2019-03-15 15:10] TEtourneau commented on #1
I corrected several "small bugs" such as not integer IDs, all seed fixed to the same value, ...
I rerun the production of DLA and here is the new redshift distribution:
![Screen Shot 2019-03-15 at 2 14 39 PM](https://user-images.githubusercontent.com/36950825/54441327-cd54b000-473c-11e9-94f8-31c9fae94b0f.png)

[2019-03-15 15:16] TEtourneau commented on #2
I rerun the DLA production, adding this dz cut. I calculated dz to be the redshift difference of 1 voxcell of 2.19Mpc/h:
(dz against z)
![Screen Shot 2019-03-14 at 4 45 39 PM](https://user-images.githubusercontent.com/36950825/54441459-1a388680-473d-11e9-9406-a8691056b49b.png)

here is the new distribution:
![image](https://user-images.githubusercontent.com/36950825/54441496-31777400-473d-11e9-963

[2019-03-15 15:18] TEtourneau commented on #3
After some minor bug correction, here is the new distribution, which seems homogeneous:
![image](https://user-images.githubusercontent.com/36950825/54441894-ec077680-473d-11e9-8e4a-4391324930bc.png)
![image](https://user-images.githubusercontent.com/36950825/54441900-ef9afd80-473d-11e9-9850-5dc2fb5482e9.png)

[2019-03-15 15:19] TEtourneau commented on #1
Actually I don't know which correction made the distribution looking good, but it did.

[2019-03-15 15:25] TEtourneau commented on #4
I corrected this:

In [310]: dla[1]
Out[310]:

  file: /global/cscratch1/sd/tetourne/DesiMocks/v4.1.4/mock_0/output/master_DLA.fits
  extension: 1
  type: BINARY_TBL
  extname: DLACAT
  rows: 285022
  column info:
    RA                  f4
    DEC                 f4
    Z_QSO_NO_RSD        f4
    Z_QSO_RSD           f4
    Z_DLA_NO_RSD        f8
    Z_DLA_RSD           f8
    N_HI_DLA

[2019-03-15 15:26] TEtourneau commented on #5
I corrected issue #4 but didn't run quickquasars yet.
This is something we have to test.

[2019-03-15 15:28] TEtourneau commented on #6
After the correction I made, I computed the auto correlation of DLA.
Here is a plot:
![image](https://user-images.githubusercontent.com/36950825/54442596-33423700-473f-11e9-9edb-e540ceea7e70.png)
![image](https://user-images.githubusercontent.com/36950825/54442607-376e5480-473f-11e9-9566-a77921de3ff8.png)

We are missing some stats here, but the RSD direction looks good.

[2019-03-15 15:32] TEtourneau commented on #8
I removed the random part in the determination of the redshift of randoms:
from
`z_rnd = np.random.choice(zvec,size=ntot)+0.0025*np.random.normal(size=ntot)`
to
`z_rnd = np.random.choice(zvec,size=ntot)`

The low z tail is now the same:
![image](https://user-images.githubusercontent.com/36950825/54442958-eca10c80-473f-11e9-9d9a-e95a5121915a.png)
![image](https://user-images.githubusercontent.com/3

[2019-03-15 16:54] londumas commented on #8
@TEtourneau, looks good.

[2019-03-15 16:57] londumas commented on #2
@TEtourneau, Yes I agree with all of what you said. I is important to cut DLAs in the same cell as a QSO, however, we don't want to match exactly the data distribution. Also we very well know that the DLA are correlated with the quasars. This looks perfect.

[2019-03-15 17:58] londumas opened #13 "all master* in `.fits`"
This is not that important but would simplify my life a lot.
Since master files produced by LyaCoLoRe have to be in `.fits` because of a known bug in fitsio, could you also have all master files in `.fits`?
Simply compare:
[code]
to
[code]

[2019-03-15 20:48] jmarclegoff commented on #13
@londumas You just mean that we should not use .fits.gz that fitsio is supposed to read but there is a bug ?

[2019-03-15 20:50] londumas commented on #13
@jmarclegoff, I am simply talking about the master files, not the transmission files. And indeed there is a bug in fitsio when the size of the file is too big, which happens for the random catalog of quasars in LyaCoLoRe: https://github.com/esheldon/fitsio/issues/199

[2019-03-15 21:21] jmarclegoff commented on #13
I have unzip the master files in v4.1.
@TEtourneau you should change your scripts so that further master files will not be gzip.
@londumas so we should not gzip the master files, which can be 2.5GB big, but we can gzip transmission files, which are less than 100MB ? This is good since
- there are hundreds of them and at the end they represent much more than the master files
- gzip is very efficien

[2019-03-17 14:47] TEtourneau commented on #13
@londumas Sure. I made the changed for the master files: they are all in .fits
I also changed the transmission files to be in .fits.gz

[2019-03-19 17:27] londumas commented on #13
fixed in v4.2.

[code]

[2019-03-19 17:27] #13 closed, assigned to TEtourneau

[2019-03-19 17:28] londumas commented on #12
@TEtourneau, could you add the plots you send us by email to this ticket?

[2019-03-19 17:29] londumas commented on #8
Fixed in v4.2.

![low_z_tail](https://user-images.githubusercontent.com/3166436/54628031-48b6aa00-4a3a-11e9-8c6b-862c46c79b91.png)

![high_z_tail](https://user-images.githubusercontent.com/3166436/54628030-48b6aa00-4a3a-11e9-82a0-1b404345759a.png)

[2019-03-19 17:29] #8 closed, assigned to TEtourneau

[2019-03-19 17:33] londumas commented on #4
fixed in v4.2.
[code]

[2019-03-19 17:33] #4 closed, assigned to TEtourneau

[2019-03-19 17:34] londumas commented on #3
fixed in v4.2.
![survey](https://user-images.githubusercontent.com/3166436/54628334-ef9b4600-4a3a-11e9-821f-197261573742.png)

[2019-03-19 17:34] #3 closed, assigned to TEtourneau

[2019-03-19 17:36] londumas commented on #2
fixed in v4.2.
![distrib](https://user-images.githubusercontent.com/3166436/54628455-325d1e00-4a3b-11e9-8512-cc6e6056ad89.png)

[2019-03-19 17:36] #2 closed, assigned to TEtourneau

[2019-03-19 17:37] londumas commented on #1
fixed in v4.2.

![p3](https://user-images.githubusercontent.com/3166436/54628521-591b5480-4a3b-11e9-938e-f5efbd07433d.png)

![p2](https://user-images.githubusercontent.com/3166436/54628522-591b5480-4a3b-11e9-8ae0-4d41a6e144c0.png)

![p1](https://user-images.githubusercontent.com/3166436/54628523-591b5480-4a3b-11e9-8165-beb19bf4792a.png)

[2019-03-19 17:37] #1 closed, assigned to TEtourneau

[2019-03-19 17:40] londumas commented on #9
Still different in v4.2, this is really not important and also we don't have a clear idea of what is the proper distribution. Let's not fix that for the moment.

![distrib](https://user-images.githubusercontent.com/3166436/54628744-c4652680-4a3b-11e9-84c5-f020829537e1.png)

[2019-03-19 17:44] londumas opened #14 "random DLA z can not be higher than Z_QSO"
In v4.2, random DLA redshift should not be higher than Z_QSO.
This is not important, but it should not be hard to correct.

![DISTRIB_RANDOM](https://user-images.githubusercontent.com/3166436/54629034-566d2f00-4a3c-11e9-93fc-42acf5ceb707.png)

[2019-03-19 17:59] londumas commented on #12
Looks fixed in v4.2, using 400,000 mock qso and mock random qso.
Sending with 800,000 to confirm.

![autoQSO](https://user-images.githubusercontent.com/3166436/54630005-7bfb3800-4a3e-11e9-9b41-52806f56cade.png)

[2019-03-19 19:49] londumas commented on #12
Indeed fixed in v4.2. Here it is for 800,000 mock data and mock randoms.

![auto_QSO](https://user-images.githubusercontent.com/3166436/54637215-b6200600-4a4d-11e9-97a4-e1d44a185091.png)

[2019-03-19 19:55] londumas commented on #12
@TEtourneau and @jmarclegoff, thanks! This correlation is very impressively close to the linear theory!

[2019-03-19 19:55] #12 closed, assigned to jmarclegoff

[2019-03-19 20:00] londumas commented on #6
@TEtourneau, the beta is basically zero in v4.2:
[code]

![auto_DLA_wedges](https://user-images.githubusercontent.com/3166436/54637850-3abf5400-4a4f-11e9-9aae-24a5b21a4024.png)

![2d_DLA_autoCorr](https://user-images.githubusercontent.com/3166436/54637851-3abf5400-4a4f-11e9-8a74-1cd17907a83e.png)

[2019-03-19 20:01] londumas commented on #7
Still looks too high in v4.2, but I have not implemented the computation of the error bar yet.
![bias_DLA](https://user-images.githubusercontent.com/3166436/54637953-7eb25900-4a4f-11e9-914e-7f1995b637d9.png)

[2019-03-19 21:24] londumas commented on #5
Fixed in v4.2.

![fixed_introduced_DLA](https://user-images.githubusercontent.com/3166436/54642828-25502700-4a5b-11e9-9903-5389e2e219b2.png)

[2019-03-19 21:24] #5 closed, assigned to TEtourneau

[2019-03-20 09:16] TEtourneau commented on #6
Indeed. It's my fault, I used c in m/s instead of km/s to compute dz.
Do you want me to reproduce the DLA catalog with the correct RSD ?

[2019-03-20 13:02] londumas commented on #6
Yes, let's reproduce only this catalog to test.

Le mer. 20 mars 2019 à 03:16, TEtourneau <notifications@github.com> a
écrit :

[2019-03-20 13:06] TEtourneau commented on #6
I renamed all the dla files of version v4.2 with and "_old" at the end:
master_DLA.fits to master_DLA.fits_old

I sent the job to cori nodes, but it's still in the queue.
I'll let you know when it's done

[2019-03-20 14:02] londumas commented on #6
@TEtourneau, thanks for debugging so quickly. You will have to make sure to correct it also in the transmission files for the next production.

[2019-03-20 14:08] TEtourneau commented on #6
Actually I sent the production of the DLA catalogs as well as the transmission files (the production of transmission files is fast).
Just be careful that the transmission files will be rewritten in the next few hours (depending on when the job starts)

[2019-03-20 14:25] londumas commented on #6
@TEtourneau, perfect.

[2019-03-20 14:52] londumas commented on #11
This realization v4.2 has `drp_QSO = -0.94 +/- 0.0838`. Taking into account the `-100km/s` from quickquasar redshift systematic error. So the shift is indeed still there. Let's wait to see other realizations.

[2019-03-20 16:08] TEtourneau commented on #6
The new DLA master files have been generated. As well as the transmission files.
The RSD should be ok now.

[2019-03-20 16:17] londumas commented on #6
@TEtourneau, ok, I am having a look now.

[2019-03-20 16:57] londumas commented on #6
@TEtourneau, it looks better but it is still noisy and still quite spherical.
Is it possible to have more stat? To be sure.

![auto_DLA_2d](https://user-images.githubusercontent.com/3166436/54703644-ccd26580-4afe-11e9-9fde-c0a5c0b0c089.png)

![auto_DLA](https://user-images.githubusercontent.com/3166436/54703645-cd6afc00-4afe-11e9-870a-00d447b0fe8c.png)

[code]

[2019-03-26 03:51] londumas commented on #6
I subsample the random DLAs that way:
[code]

and I compute the correlations that way:
[code]

[2019-03-30 01:37] londumas commented on #7
Fixed in `/global/cscratch1/sd/tetourne/Out/v4.2.0.5/CO/Correlations/e_co_DLA.fits`:
[code]
![bias_DLA](https://user-images.githubusercontent.com/3166436/55269519-0707d980-525a-11e9-9dae-2244b551854f.png)

[2019-03-30 01:37] #7 closed, assigned to TEtourneau

[2019-03-30 01:41] londumas commented on #6
The status of the ticket is that, the bias of DLA is perfect, the growth-rate seem to low.
It does no seem to be statistical since the Delta-chi2 is of order 60 with the fiducial cosmology value.
Could it be an effect of the mock? What is the difference in implementation between DLA and QSOs?
[code]
![bias_DLA](https://user-images.githubusercontent.com/3166436/55269546-4e8e6580-525a-11e9-8d64-c0cf

[2019-04-01 16:22] londumas opened #15 "speed of light definition and other constants"
Looking at the code, I have not found any issue with the definition of the speed of light and other constants. I have however found some hard-coded constants. @TEtourneau, could you fix the following:
 -  get all the constants from `py/LyaMocks/Constant.py` in `bin/test3D.py`, for example the speed of light.
 - `lambda_min = 3530.0` in `py/LyaMocks/Constant.py`, since it is a float
 - remove unuse

[2019-04-01 16:30] londumas opened #16 "Project structure"
As discussed before, there few things to do before this code should be linked to a paper:
 - move the code from `gitlab.in2p3.fr` to `github.com`.
 - Change the code name so it is all lowercase
 - remove all upper case in file names everywhere
 - clean the repository `bin`, move `bin/data` to `data` or something of the sort...
The `bin` repository is for executable. I can't believe all >20 files a

[2019-04-06 18:09] londumas opened #17 "add low NHI HCDs"
@fjaviersanchez, @TEtourneau tested adding the low NHI HCDs and he does not recover the proper number density of NHI~20 HCDs. do you know what is happening? It is good at ~17 and ~22. Maybe you have a power-low instead of the pygm model.

using /global/cscratch1/sd/tetourne/DesiMocks/v4.3.0/mock_0/output/master_DLA_3.fits
![NHI_distribution](https://user-images.githubusercontent.com/3166436/556733

[2019-04-06 18:28] jmarclegoff commented on #17
@londumas, this must be for the last version produced by Thomas with N_HI_min = 17.2. Thomas saw that setting N_HI_min = 17.2 reduces the number of DLA with N_HI> 20 by a factor 5. This seems compatible with having a correct distribution when N_HI_min = 20. If this is the case we can focus on understanding what is happening when we reduce N_HI_min.
May be you could make the same plot with Thomas's

[2019-04-06 19:03] fjaviersanchez commented on #17
@londumas, in the code we directly call `pyigm` to get `f(N)` (see [here]( https://github.com/igmhub/LyaCoLoRe/blob/master/py/DLA.py#L86-L89); also note that `fN.evaluate` returns `log(f(N))` [see here for more details](https://github.com/pyigm/pyigm/blob/master/pyigm/fN/fnmodel.py#L345) and that's why there's an exponential in the function to get the probability of getting a given f(N,z)).

I am

[2019-04-06 19:32] jmarclegoff commented on #17
@fjaviersanchez, It looks like if you just use --nmin parameter for DLA_Saclay.py it goes only to dNdz(). I believe it should also go into add_DLA_table_to_object_Saclay(0 in order to go to get_N().
So we need to know how @TEtourneau did to go down to N_HI_min = 17.2.

[2019-04-06 19:36] londumas commented on #17
using the catalog that goes above NHI>20, we get the same as before.
/global/cscratch1/sd/tetourne/DesiMocks/v4.3.0/mock_0/output/master_DLA_3.fits
![with_NHI_g20](https://user-images.githubusercontent.com/3166436/55674349-c79c4700-5870-11e9-9d97-f43d949eced9.png)

[2019-04-06 19:43] jmarclegoff commented on #17
Ok, so it's likely that there was some problem in the way N_HI_min was reduced.
Let's wait for @TEtourneau to tell us what he did exactly.

[2019-04-09 13:03] TEtourneau commented on #17
I did use --nmin parameter in both dNdz() and get_N() functions (I added the use of --nmin in add_DLA_table_to_object_Saclay)

[2019-04-09 13:17] londumas opened #18 "Save Pk in code or/and in repository production"
Save P(k) in code or/and in repository production. Where is it saved for the moment?

[2019-04-09 13:22] londumas commented on #18
We also need to save the intup parameters of CAMB and the parameters (Omega_m) used in the box to transform z to r

[2019-04-09 13:37] TEtourneau commented on #18
The P(k) we use is store here:
/global/u1/t/tetourne/Git/LyaMocks/bin/data/PlanckDR12.fits
I think this is the one used in picca.
All the cosmological parameters are store in the file .../py/LyaMocks/Constant.py

[code]

[2019-04-09 13:41] londumas commented on #18
@TEtourneau, perfect, let's store them also to the gitlab repository. Would that be ok?

[2019-04-09 13:44] TEtourneau commented on #18
Everything is already on the gitlab repository:
the pk is in bin/data/
and the Constant.py library in py/LyaMocks/Constant.py

I'm working on cleaning up the git repository, and transfering everything on github.

[2019-04-09 14:05] londumas commented on #18
@TEtourneau, did you redrive it yourself from CMB? I don't see the config file, it is important to keep it.

[2019-04-09 14:10] TEtourneau commented on #18
No, I don't think so. I think it is the power spectrum used in picca.

[2019-04-09 15:07] jmarclegoff commented on #18
@londumas, yes, indeed I think I remember that you asked us to use the picca PlanckDR12.fits instead of producing it ourselves. However the file we now have is different from the one in https://github.com/igmhub/picca/tree/master/py/picca/fitter2/models/PlanckDR12
May be you changed it meanwhile, so our file might be identical to an older version of the picca file.

[2019-04-11 16:08] jmarclegoff commented on #17
I did some tests of pyigm and DLA_Saclay.py
[code]
This code gives the plot below and shows that get_N() produces the proper distribution of N_HI up to an ad hoc normalisation (the orange curve is 5.64E12 * exp(f(N_HI)) ).
![image](https://user-images.githubusercontent.com/28785007/55971356-9d3bf680-5c81-11e9-84b8-2217cf44230f.png)

Then I tested dNdz()

[code]
In [42]: dNdz(z,Nmin=20)/ dNdz(z,Nmi

[2019-04-11 20:03] jmarclegoff commented on #17
By the way, @fjaviersanchez from https://github.com/igmhub/LyaCoLoRe/issues/32
I understand that you set Nmin = 17.2 in LyaCoLoRe. Are you still waiting for James to produce the DLA catalogue ? It would be interesting to see if this results in the same N_HI distribution as measured by @londumas for Saclay mocks.

[2019-04-12 02:55] fjaviersanchez commented on #17
@jmarclegoff thanks a lot for the plots and for following up on this. I think that you are right and `fN_default.calculate_lox` is not giving what we expected. I modified `dNdz` as follows:

[code]
I tested this with the data that you provided above and it seems to be working. What I did is the following:

`dNdz(2.7, Nmin=20.0)/dNdz(2.7, Nmin=17.2) ~ 0.038`

`1-np.count_nonzero((nHi>=17.2) & (nHi

[2019-04-12 07:54] jmarclegoff opened #19 "Implement CF and XCF prediction as models in picca"

[2019-04-12 12:06] jmarclegoff opened #20 "Use FFTLog for P(k) <--> xi(r)"
P(k) -> xi(r) was implemented in picca by @ngbusca
Just need to copy it and test it.
xi(r) -> P(k) will just call P(k) -> xi(r) with proper parameters

[2019-04-12 13:43] TEtourneau commented on #17
@fjaviersanchez Thanks for the suggestion. I tested what you posted (I just copied/pasted the new dNdz function into the DLA_Saclay.py code).
I first did 2 runs, with rmin = 20 and rmin = 17.2
For rmin = 20, I only found 1 DLA (for about 550 000 QSO)
for rmin = 17.2 I found 14 DLA
These catalogs are here:
/global/cscratch1/sd/tetourne/DesiMocks/v4.3.0/mock_0/Chunk_ra0189.982649735_dec020/dla5.fits

[2019-04-12 14:00] TEtourneau commented on #17
I forgot:
The number of QSO I indicated is all the QSO, so 1.8 < z < 2.1
There are 359362 QSO at z > 2.1
and 11158 DLA with n_HI > 20 (including the 20000 factor on dN/dz)
So we have ~ 0.03 DLA per QSO.
So, if I'm right, we are still missing a factor 0.2 / 0.03 ~ 6.4 on dN/dz

[2019-04-12 18:21] fjaviersanchez commented on #17
thanks for testing this so quickly @TEtourneau. Maybe I understood it incorrectly but it sounds like there's a normalization problem. Do you think that using a factor of `6.4*20000` will solve the discrepancies?

[2019-04-12 20:47] jmarclegoff commented on #17
@fjaviersanchez, it will indeed produce DLAs with proper N_HI distribution and about 0.2 DLA per spectra. So on short term it will solve the problem with an ad hoc factor. But I think it would be nice to understand where this factor is coming from.

[2019-04-15 15:16] londumas commented on #18
@TEtourneau, in the London mocks they store the redshift-distance relation in the HDU of the `master.fits` file. I think it would be good to do the same. They have  `COSMO_COL` for the big cells and `COSMO_EXP` for the small ones. What do you think? The P(k) could be actually store also in another HDU of the `master.fits` file. This file would be then a "all you can eat buffet".

[2019-04-16 22:58] fjaviersanchez commented on #17
My guess (maybe wrong) is that this factor is related to the volume of the simulation or the cell, but I still have to confirm it.

[2019-04-17 19:15] jmarclegoff commented on #17
@fjaviersanchez we have put just a constant ad hoc factor, but this factor depends probably on z, so at some point we should try to understand the factor to get its z dependence.

[2019-04-18 07:44] TEtourneau commented on #18
I don't get why you are talking about cosmology of big and small cells. Could it be different ?
If not, we only need 1 HDU to give the distance relations.
So, to sum up, we need:
- 1 HDU with the QSO catalog, with cosmo parameters in the header
- 1 HDU with the distance relations
- 1 HDU with the input power spectrum
is that it ?

[2019-04-18 07:53] TEtourneau commented on #18
Ah, and do you know what are the different fields in the distance relation hdu ?
R: comobile distance ? (in Mpc/h?)
Z: redshift ?
D: growth factor ?
V: ?

[2019-04-18 13:47] londumas commented on #18
@TEtourneau, I asked exactly the same question to @jfarr03 there https://github.com/igmhub/LyaCoLoRe/issues/62.
If you use the same cosmology, then I would simply have only one `COSMODIS` with `DC` the comoving distance, `Z` the redshift `G` the growth factor, and I don't know what else; maybe the growth rate `F`. You know better what we need to keep, and how best to name them.
 I don't know what

[2019-04-18 13:51] TEtourneau commented on #18
Sorry, my question wasn't clear. I was just wondering the meaning of the 4 different fields.

Sure ! Let's go for these 3 HDU.
For the moment, I'll just store the redshift Z, the growth factor D and the comoving distance R.

[2019-04-18 13:58] jmarclegoff commented on #18
I think we should discuss with James and Andreu to agree on what should be put and on the format, to avoid having different format. This discussion concerns both LyaColoRe and SaclayMocks, can we open a common issue, or add @jfarr03 and @andreufont to this discussion ?

[2019-04-19 15:30] jmarclegoff commented on #17
The distribution of n_DLA / n_QSO vs z used to be flat around 0.2 in reasonable agreement with the data. With the constant ad hoc factor @TEtourneau got a ratio that is decreasing steeply with z.
![Screen Shot 2019-04-19 at 10 34 15 AM](https://user-images.githubusercontent.com/28785007/56430614-22995980-62c7-11e9-9bc2-6754a60ce949.png)
He replaced the constant factor with a factor that depends li

[2019-04-19 15:43] londumas commented on #17
@jmarclegoff, looks very good. Indeed @fjaviersanchez, I think it seems to be linked to the simulation volume or something of the sort. It would be nice to find that out at some point instead of using hadoc corrections. But what @TEtourneau and @jmarclegoff is very good for tests.

[2019-04-19 15:44] londumas commented on #17
@TEtourneau, can I have a look at your new catalog? Could you send me the path on Nersc?

[2019-04-19 21:54] jmarclegoff commented on #17
@londumas , this is not a big catalogue, it was just for test.
The only file I could find from today is
/global/projecta/projectdirs/desi/mocks/lya_forest/develop/debug/256-256-1536/mock_20/output/master_DLA.fits
but I am not 100% sure, might be better to wait for @TEtourneau confirmation.
There are 4 eBOSS realisations that are nearly finished. The last step is in queue, where spectra are put in

[2019-04-23 08:27] TEtourneau commented on #17
Here is a catalog with the "new" dNdz:
/global/cscratch1/sd/tetourne/DesiMocks/v4.3.0/mock_0/Chunk_ra0189.982649735_dec020/dla9.fits

This one include the new function dNdz, the extra factor 20000*6.4 and a linear redshift compensation.

[2019-04-23 15:51] londumas commented on #17
@TEtourneau, looks good. Could you tell me which is the catalog of quasars `master.fits` so I can look at the ratio.

[2019-04-23 15:53] TEtourneau commented on #17
The master.fits file is here:
/global/cscratch1/sd/tetourne/DesiMocks/v4.3.0/mock_0/output/master.fits

[2019-04-23 16:00] londumas commented on #17
@TEtourneau, looks very good. Do you have a full mock ready somewhere with all the improvements? I be happy to do a full check of the DLA once it is the case.

![nhI_ratio](https://user-images.githubusercontent.com/3166436/56596815-7c8f6d00-65ae-11e9-90cb-fd06b52d212e.png)

[2019-04-23 16:05] TEtourneau commented on #17
Actually there are 4 realisations in .../saclay/v4.4/
I didn't check the results yet, but DLA should be ok, produced with the "test" version.
I didn't run quickquasars yet. But you can still have a look to the catalogs.

[2019-04-23 16:07] londumas commented on #17
@TEtourneau, thanks. I see three in `/project/projectdirs/desi/mocks/lya_forest/saclay/v4.4/` can I use that?

[2019-04-23 16:08] TEtourneau commented on #17
you can use the realisations v4.4.7, 4.4.8 and 4.4.9.
v4.4.6 is still being moved from scratch/ to projecta/

[2019-04-23 16:13] londumas commented on #17
@TEtourneau, there is still a hard cut at NHI=20:
[code]
gives
[code]

[2019-04-23 16:19] londumas commented on #17
Here is the distribution:
![NHI_distribution](https://user-images.githubusercontent.com/3166436/56598159-338ce800-65b1-11e9-89df-6498cd920936.png)

[2019-04-23 16:20] TEtourneau commented on #17
I'll have a look. It is very likely that I forgot to put the new options (like nhi_min=17.2)

[2019-04-23 16:21] londumas commented on #14
Using `/project/projectdirs/desi/mocks/lya_forest/saclay/v4.4/v4.4.7/master_DLA.fits` I get still the issue of random DLA with redshift higher than the host quasar, but now I also see some mock data DLA with the same issue.
![new_plot](https://user-images.githubusercontent.com/3166436/56598318-86ff3600-65b1-11e9-8abe-ffdca0b16af6.png)

[2019-04-23 16:24] londumas opened #21 "Distribution of quasar and DLA on the sky is inhomegenous"
Distribution of quasar and DLA on the sky is inhomegenous in `/project/projectdirs/desi/mocks/lya_forest/saclay/v4.4/v4.4.7/`

![QSO](https://user-images.githubusercontent.com/3166436/56598526-e0676500-65b1-11e9-8772-5f31b75cf85e.png)

![DLA_random](https://user-images.githubusercontent.com/3166436/56598527-e0676500-65b1-11e9-9f9f-4d9b75330662.png)

![DLA](https://user-images.githubusercontent.com

[2019-04-23 16:29] londumas commented on #21
It is ok in `/project/projectdirs/desi/mocks/lya_forest/saclay/v4.4/v4.4.8/` and ok in `/project/projectdirs/desi/mocks/lya_forest/saclay/v4.4/v4.4.9/`. Maybe it is an issue that happen only for `v4.4.7` during the NERSC computation.

[2019-04-23 16:30] londumas commented on #14
The issue to have mock DLA with ZDLA>ZQSO is only in `v4.4.7`.

[2019-04-23 16:32] TEtourneau commented on #21
Ok. I'll rerun the last step of the production, ie generating the catalogs for QSO and DLA for version v4.4.7
We will see if this solves the problem.
(And it will produce the DLA catalog with the good n_HI distribution.)

[2019-04-23 16:32] londumas commented on #21
ok, thanks. @TEtourneau tell me when it is ready and I will have a new look.

[2019-04-23 18:17] TEtourneau commented on #21
I got the result, the DLA cover the right n_HI range, but there is still this inhomogeneity problem. I think it's due to a bug during the production of 1 of the chunks. I'll need to compute it again.
I'll produce the DLA catalog for version v4.4.8 and v4.4.9, they will be ready in ~ 1 hour
(you can just check if the master_DLA_random.fits has been rewritten)

[2019-04-23 19:45] londumas commented on #21
@TEtourneau, yes it must be an issue with the computation on NERSC since even a part of the SGC is missing.

[2019-04-23 19:50] londumas commented on #17
Looks good now. The raw distribution looks good, however there is still some discrepancies in the n(z) plot. But this plot is not from me but from @alxogm and I don't know if the code still works at NHI<20 and if I am running it correctly.
Thanks for all the work @TEtourneau .

![distrib_NHI](https://user-images.githubusercontent.com/3166436/56611126-4eba2080-65ce-11e9-8984-cbab51b59889.png)
![dis

[2019-04-23 21:20] jmarclegoff commented on #17
@londumas, I guess the factor 10 in the amplitude between mock and data in the first plot is meaningless, as can be expected from the third plot.
The second plot does not exhibit the same shape for the mocks as plot 1 and it seems to be identical to your very first plot which started this issue, I am confused.

[2019-04-23 22:01] alxogm commented on #17
Hi, I’m just coming back from holidays. I can check tomorrow, Wednesday, if there is any issue in plot two in my side.

[2019-05-01 20:27] londumas commented on #21
Fixed.

[2019-05-01 20:27] #21 closed, assigned to TEtourneau

[2019-05-02 13:23] londumas commented on #6
@TEtourneau, do you have some new results on that? If not, if you want I can look at the 10 new boxes and see how it is across all of them. We will get a better picture of this. Or if you prefer to do it, no problem.

[2019-05-02 13:29] TEtourneau commented on #6
I don't remember exactly, but I think we fixed the issue of f beeing too low.
If you have some time, please go ahead. I think you'll be way more faster than me.

Just tell Julianna that you're looking at this, to avoid having 2 people doing the same thing ?
Thanks

[2019-05-02 13:31] londumas commented on #6
@TEtourneau, I am going to look at the auto correlation of DLA, it is not on her plan yet. Perfect, I will have a look then.

[2019-05-02 20:38] londumas commented on #16
@TEtourneau, thanks for the commit with all the code. I added Codacy to the code and it gives the following report: https://app.codacy.com/app/londumas/SaclayMocks/issues/index. Please have a look. I fixed the trailing white-spaces and the Readme in PR https://github.com/igmhub/SaclayMocks/pull/23 and PR https://github.com/igmhub/SaclayMocks/pull/24.
For the rest, I would rather have you do it sin

[2019-05-02 20:41] londumas commented on #16
@TEtourneau, I see that you also have a lot of commented lines, like in https://github.com/igmhub/SaclayMocks/blob/a1927f1ad787e0229d56952980380f4e0f8aab6a/bin/dla_saclay.py#L71 or https://github.com/igmhub/SaclayMocks/blob/a1927f1ad787e0229d56952980380f4e0f8aab6a/bin/make_boxes.py#L79. This can lead to very long files and unstable behavior. Consider getting rid of them if possible.

[2019-05-02 21:07] londumas commented on #16
@TEtourneau, sending the following does not work on the Utah cluster:
[code]

[2019-05-03 02:29] alxogm commented on #17
Hi all, sorry for the delay. So I've tested and yes the issue is in the plot f(NHI) function. Since f(NHI) is the number of DLAs within a bin of NHI normalized by the total absorption distance in the sample. Since now the NHI range is much wider, this  normalization was not ok.  When the DLAs with NHI< 20 are added, this total absorption distance changes  and affects the overall normalization. By

[2019-05-03 15:15] londumas commented on #17
@alxogm, thank you for looking into that. instead of updating the QA, can you send me the updated code, and I will do it myself, in order not to loose all other changes to other cells? Also could you tell us why you had to split into three parts?

[2019-05-03 15:20] londumas commented on #16
@TEtourneau, thank for the update, I got through the previous error, and have a new one.
It is linked to python2.7 vs. python3 division: `npixel/100`.
Which python do you use? I use python3.
[code]

[2019-05-03 15:29] andreufont commented on #17
Hi @alxogm - I don't follow the reasoning. Why would the *distance* change when you change the limit of N_HI considered?

[2019-05-03 15:30] andreufont commented on #17
We should aim at having a good fit of f(z,N) at a fixed z, covering the full range of N, without having to tweak anything.

[2019-05-03 15:38] alxogm commented on #17
@andreufont yes we shouldn't tweak anything. This shows the normalization I was using was wrong,  I'm fixing it. The plot above only shows, I think, that mocks are ok, but is not the final plot. @londumas yes, I'll send the update of the code once I test it works ok with no splitting in regions, but normalizing correctly.

[2019-05-03 17:02] londumas commented on #6
@TEtourneau, I computed the auto-correlation of DLA across the 10 boxes of v4.4 and everything looks ok. Do you have the value of the input bias or beta DLA? Did you input a redshift evolution?
See the following plots and best fit results for the stack of 10 boxes.
Once I have the information about the bias or beta DLA, we can close this ticket.
Thanks for all the work @TEtourneau and @jmarclegoff

[2019-05-03 17:38] londumas commented on #18
@TEtourneau, is that fixed? Did you store both the P(k) and the CAMB .ini file?

[2019-05-03 17:52] TEtourneau commented on #18
Sorry, I forgot to do it for the 10 realisations, but I can do it now (master file is really fast to generate).
About the CAMB .ini file, I don't have it, since the power spectrum I'm using is the one of picca.

I'll put in the different master files the input power spectrum, and the distance relations.

[2019-05-03 17:54] TEtourneau commented on #16
Sorry not to have answer quicker.
I pushed the code but their were some bugs remaining anyway.

I corrected all the bugs and push the new code in the master. I did a try :
`submit_mocks.py --mock-dir . --cori-nodes False --box-size 256`
and seems to work.

And yes, the code is written in python 2. I updated the README to mention this.
@londumas Could you try on Utah cluster ?

[2019-05-03 17:58] londumas commented on #18
@TEtourneau, perfect, let's do that for the 10 master files.
For the .ini file and the P(k), let's have you copy both from https://github.com/igmhub/picca/tree/master/py/picca/fitter2/models/PlanckDR16 into the repository, so that we have exactly the same. Would that be ok @TEtourneau ?

[2019-05-03 18:00] TEtourneau commented on #18
@londumas What do you mean ?
For the next realisations ?
For the 10 realisations, I used a power spectrum you gave me some time ago, it's named PlanckDR12.fits, if that's helping you.

[2019-05-03 18:09] londumas commented on #18
@TEtourneau, the power spectrum you used was generated using the following CAMB .ini: `py/picca/fitter2/models/PlanckDR12/PlanckDR12_kmax_params.ini`. However this file can not be used for new version of CAMB, because of the way the neutrino were set. The following file gives exactly the same P(k): `py/picca/fitter2/models/PlanckDR16/PlanckDR16.ini`.
So let's store this .ini file into SaclayMocks,

[2019-05-03 18:11] londumas commented on #16
@TEtourneau, running it now. Let's have it Python3 compatible, because first Python2 is near decommission, and also Python3 is DESI standard. You can use `2to3` to track where you should update your code.

[2019-05-03 18:11] TEtourneau commented on #18
Ok, thanks for the explanations, I'll do it.
Ok for the commits ! :)

[2019-05-03 18:13] TEtourneau commented on #16
I already tried to do this, but it's really a mess. And there are libraries that are not support anymore in python3.
I'll postpone this until it is really necessary.

[2019-05-03 18:15] londumas commented on #16
@TEtourneau, ok.
I send the following and got the following.
[code]

I tried to run `.//mock_0/output/runs/submit.sh` but nothing happened. What should I do?

[2019-05-03 18:20] TEtourneau commented on #16
Normally, submit.sh send the jobs to the cori nodes. If you're using the option --cori-nodes False, it will just run the script in your terminal, one after another.
There are no prints for this mode (I should add some).
You can check the logs of each script in ./mock_0/output/logs/
(The pk logs are stored in ./mock_0/pk/logs/, this is run before producing the chunks)
(you can see the order of the

[2019-05-03 18:41] londumas commented on #16
@TEtourneau, ok thanks. some of the errors in the log are the following, what should I do?
[code]

[2019-05-03 19:02] londumas commented on #16
@TEtourneau, the code looks good. It is nice to have it on igmhub.
Here are things that would make it easier to read and run:
 - apply Codacy recommendations
 - rename all executable with `saclaymocks_` prefix, the same way we do for picca
 - have comments with same indentation as the code: e.g. https://github.com/igmhub/SaclayMocks/blob/011fe8556abfd7a89e46fd720cc8ff0f1f4d774b/py/SaclayMocks/box.

[2019-05-03 20:54] londumas commented on #16
@TEtourneau, I just added the travis tests structure.
We now need you to add a test in `py/SaclayMocks/test/test_cor.py`. I would do a production of a very small box, stored in  `py/SaclayMocks/test/data/` and each PR would see if the box produced via the branch is the same as the one in the PR. How does that sound? You can have a look at how it is done in picca if you want.

[2019-05-03 22:11] londumas commented on #14
Here is the stack of the 10 cross-correlation HCDxQSO multiplied by r, we can see clearly an asymmetry between xi(rp<0) and x(rp>0), where rp is computed as a function of the relative distances of HCD and QSO with respect to us. This can be linked either to this issue, to other issues or to some bugs in picca. Of course solving this ticket is not a priority, since it has little to do with BAO from

[2019-05-03 23:08] londumas opened #27 "absorption smaller than 91.2 nm"
In the SaclayMocks, there are no absorption smaller than 91.2 nm, see the two attached plots.
If I understood correctly this is a feature chosen in order to reduce the size of the box along the line-of-sight. This makes totally sense for all the most important analysis we want to do with Lyman-alpha: BAO, f*sigma8, ...
However, it produces spectra that are not a proper representation of observatio

[2019-05-05 16:51] jmarclegoff commented on #27
@londumas, this is actually already on my todo list. This cut at 91.2 nm was decided with Nicolas a long time ago. Meanwhile the box was extended to start closer to the observer. So I think we will simply remove the cut for the next production.
I am also planning to include the items of the todo list as github issues.

[2019-05-05 17:15] londumas commented on #27
@jmarclegoff, ok sounds good. How far could you go? Would you have enough to cover all the observed wavelength range?
Adding the todo list as github issues sounds like a very good idea. You can label them as "enhemcement".

[2019-05-05 18:29] jmarclegoff commented on #27
Actually I now realise that the 91.2 nm (rf) cut was not set to reduce the size of the box along the l.o.s. For low z quasars, just for the lya region, we need a box that goes down to 353 nm (lab). For high z quasars we need to go below 91.2 nm (rf) but will never need below 353 nm (lab).
Probably we put this 91.2 nm cut to avoid computing the Gaussian averaged field (which takes significant CPU)

[2019-05-05 19:47] londumas commented on #27
@jmarclegoff, then what about measuring the loss in CPU time with a smaller box? Less than 10% is nothing really.

[2019-05-06 07:45] TEtourneau commented on #6
The input bias is 2, and there is no redshift evolution.
For the beta, there is no input. Velocities are derived from :
v_k = i k/k^2 f a H delta_k
so I guess, if there is no bug, we should recover f of the cosmology.

[2019-05-06 12:40] londumas commented on #6
Is it exactly 2 ? Yes we can close the ticket, it is fixed. Thanks for all
the work.

[2019-05-06 13:05] londumas commented on #6
@TEtourneau, do you store the value of the input DLA bias somewhere? It should be store either in a fits header or a config file.

[2019-05-06 13:05] londumas commented on #6
Closing, because fixed.

[2019-05-06 13:05] #6 closed, assigned to TEtourneau

[2019-05-08 14:27] londumas opened #31 "store transmission down to 3476.20"
store transmission down to 3476.20, following the discussion on adding SiII(1260)

[2019-05-09 15:14] londumas commented on #16
@TEtourneau, let's continue discussions on travis tests here, because my branches seem to be always moving :)
Since I can not run the python2.7 tests, I would need you to run python test_cor.py on Nersc, changing
[code]
to
[code]
where you ran mkdir data_test
then tell me where I can read the files.

This will allow me to get the different reference master files, to test the travis against.

[2019-05-09 16:04] londumas commented on #16
I have the following error in python2.7 tests:
 - `dist` is not set in merge_qso.py
 - `seed` seems random in pyigm
 - some warning on the range of P(k)
 - some warning on `etc/wisdom.128-128-1536.64.npy ` not existing

[code]

[code]

[code]

[code]

[2019-05-09 16:14] londumas opened #37 "`dist` is not defined."
`dist` is not defined.
https://github.com/igmhub/SaclayMocks/blob/0ed8fdf24638c5ad38e8f190ad208a5b304aad30/bin/merge_qso.py#L121

[2019-05-09 18:24] TEtourneau commented on #37
Sorry for that. I tested it but apparently we don't see if merge_qso or merge_randoms go wrong in the run_mergechunks.log file
I corrected and merged the commits to the master

[2019-05-09 18:31] londumas commented on #37
Thanks.
I found the fix to the tests to catch these errors. I will do a PR.

[2019-05-09 18:35] TEtourneau commented on #16
@londumas I corrected the bug in merge_qso, sorry for that ...
I also corrected the seed the dla_saclay, I just forgot to add the argument --seed in submit_mocks.py
Concerning the Pk warning: JM said that he will have a look to this, but it should be OK for the moment.
For the warning in make_boxes: it's just that the wisdom file for the FFT is not existing. I only store in etc/ the on for nominal

[2019-05-09 18:40] TEtourneau commented on #16
Maybe we could store the wisdom file corresponding to the configuration of the travis test ? It will avoid this warning (and save some time)

[2019-05-09 19:14] londumas commented on #16
@TEtourneau, thanks for the work. However you broke master: `https://travis-ci.org/igmhub/SaclayMocks/builds/530412647?utm_source=github_status&utm_medium=notification`. Please do not merge a branch until the travis tests are clear. Here is the error in master:
[code]

[2019-05-09 21:58] londumas commented on #37
fixed.

[2019-05-09 21:58] #37 closed, assigned to TEtourneau

[2019-05-09 22:14] londumas commented on #16
@jmarclegoff and @TEtourneau, thanks for all the work.
I see in the log on the travis test that the `seed=42` is the same across all the different codes and across all the different processes. Is it the case, or actually you use the seed as a master seed to get different seeds for each processes? and each piece of code?

[2019-05-10 06:22] TEtourneau commented on #16
Currently, if you fix the seed with
`--seed 42`
every python codes that is using numpy.random will have its seed fixed to 42.
So, for instance in the travis test, each of the draw_qso.py codes will run with a seed fixed to 42.
I guess it is not optimal, but it should do the trick for now.

[2019-05-10 14:14] jmarclegoff opened #41 "Introduce z-dependent quasar CF"
Using P. Laurent et al (2017) parametrization of b_qso

z=np.linspace(1.9,3.6,100)
bias=0.278*(1+z)**2 + 0.57
plt.plot(z,bias/5)	# blue
plt.plot(z,bias/(1+z)) # orange
plt.plot(z,bias/(1+z)**1.44) # green
plt.plot(z,bias/(1+z)**1.7)  # red
plt.grid()
![figure_1](https://user-images.githubusercontent.com/28785007/57531813-9e247e80-733a-11e9-948c-88f27ab5d25b.png)
over the z-range [1.9 ; 3.6] bias v

[2019-05-12 21:15] londumas commented on #16
@TEtourneau, ok thanks for the answer. At some point, we will need to change that. but it is ok for now.

[2019-05-14 10:31] jmarclegoff commented on #41
Coles and Jones (1991) show that if g Gaussian(mu,sigma) with xi_g then exp(g) has CF = exp (xi_g) - 1. In order to have a z dependent QSO CF
**we can draw QSO proportionally to exp[a(z) g] with a(z) = b(z)/(1+z) / [ b_0/(1+z_0) ]**
we have a(z_0)=1 and define xi_QSO(z_0) = b_0^2 xi_m(z_0) = xi_0
so xi_QSO = exp[ a^2 xi ] - 1  and exp [ xi ] - 1 = xi_0
    =>  xi_QSO = exp [ a^2 ln(1+xi_0)] - 1
we

[2019-05-14 23:27] londumas commented on #41
@jmarclegoff, thanks for looking into that. In my MgII paper, in figure 7, I found the equation 20, using equation 19. What is nice with equation 19, is that it is the same power-law evolution as for the Lya forest, and thus very simple to implement in picca. But anyway, it does not change much at the end.
[code]

[2019-05-15 11:46] jmarclegoff commented on #41
@londumas, here is a plot of Laurent et al. parameterisation of b_QSO(z) (blue) , the parameterisation in your MG ii paper (orange) and b = 3.7 * ((1+z)/(1+2.33)**1.7 (green)
![figure_1](https://user-images.githubusercontent.com/28785007/57760275-84e54e80-76fb-11e9-85c8-43c87d2b1c97.png)
We see that the parameterisation in MG ii paper, designed for low z, is not very good for lya,
whereas the gree

[2019-05-15 13:08] londumas commented on #41
I have no preference for the mocks between orange and green, however I think it is way better than blue. So ok if you want to use `b = 3.7 * ((1+z)/(1+2.33)**1.7`. Thanks @jmarclegoff.

[2019-05-16 06:41] TEtourneau commented on #41
Just to let you know, currently in the mocks we are using:
b = 3.7 at z=2.4, not z=2.33.
Here are the differences:
![Screen Shot 2019-05-16 at 8 34 58 AM](https://user-images.githubusercontent.com/36950825/57831549-bde1f980-77b5-11e9-92d3-a8ed474498ac.png)

blue: bias1 = 3.7 * ((1+z)/(1+2.33))**1.7
orange: bias2 = 3.7 * ((1+z)/(1+2.4))**1.7
green: bias3 = 0.278*(1+z)**2 + 0.57

Differences are sma

[2019-05-17 16:04] londumas commented on #17
fixed

[2019-05-20 14:18] TEtourneau commented on #14
I created a new branch correct_dla_randoms, where I tried to fix this bug.
I first tried to improve the original code dla_randoms.py, to avoid having z_dla > z_qso, but I didn't manage to both fix the bug and keep the same n(z) distribution for DLA and random DLA.

So I modified the code dla_saclay.py, in order to compute both DLA and random DLA.
So now, the random DLA are computed exactly the sam

[2019-05-20 14:40] londumas commented on #14
@TEtourneau, perfect, this looks good. We need the DLA and the random DLA to be on the line of sight of a quasar, is that the case?

[2019-05-20 14:53] TEtourneau commented on #14
Yes, it is.
The differences between the n(z) for mocks and randoms are not an issue ?

[2019-05-20 14:56] londumas commented on #14
@TEtourneau, good.

Yes it is an issue, could it be a random fluctuation? by eye it does not seem possible, but did you look at more than 1 box?
Could it be an effect of the velocity gradient?

[2019-05-20 15:04] TEtourneau commented on #14
Maybe the blue distribution (mocks) can fluctuate (only 33000 DLA for this plot), but not the randoms (more than 200,000).
In principle, I'm not taking into account neither the density field, the velocity field nor the velocity gradient field.
I'll try to produce a larger catalog, to see if the difference is still there.

[2019-05-20 15:07] londumas commented on #14
@TEtourneau, I wonder if I know what is happening.
If I understood correctly you draw the DLA according to a given
threshold. Is it on delta_gaussian, on delta = delta_gauss+delta_small_scale,
or on the transmission of Lyman-alpha? Is the threshold evolving with redshift?

[2019-05-20 15:13] TEtourneau commented on #14
To draw the DLA, we use the delta_l field, the one for the large scale fluctuations.
So we define a threshold mu (linked to the bias we want), and flag all the cells that have delta_l > mu
And then, in each flagged cell, we draw or not a DLA (using poisson distribution and f(N) from pyigm).
Since we want a constant bias (b(z) ~ 2), the threshold is contant with redshift.

Concerning the randoms, w

[2019-05-21 14:55] TEtourneau commented on #14
I produced a new random catalog, with 65 milion random DLAs, from the version v4.4.0:
/global/projecta/projectdirs/desi/mocks/lya_forest/saclay/v4.4/v4.4.0/master_DLA_randoms_test.fits

Here are some plots, showing the n(z) distribution for the DLA:
![Screen Shot 2019-05-21 at 4 10 46 PM](https://user-images.githubusercontent.com/36950825/58106721-d5234b80-7be8-11e9-99a1-8835fcf3c1f8.png)

the n(z

[2019-05-21 15:35] londumas commented on #14
@TEtourneau, thank you very much for this, it is clear that it is not a statistical fluctuation indeed.
My guess is that it comes from a z-dependant criterion on the delta threshold.
Could you plot the distribution of mock DLA is you use a very different threshold?
At the end of the day, it is quite simple to downsample the random mock DLA to have the same distribution as the mock DLA. But first l

[2019-06-11 08:30] TEtourneau commented on #41
Here is a plot showing the 3 wedges for a QSO-QSO correlation function with a(z) = 1.5 in P ~ exp(a(z) delta)
![image](https://user-images.githubusercontent.com/36950825/59256105-868b2f00-8c33-11e9-9cdd-954e567fa43e.png)

The correlation at small r is looking bad because we don't have: Xi << 1 and a(z) is far from 1.

[2019-06-24 08:11] TEtourneau commented on #14
@londumas You was right. There was still a redshift dependent correction remaining in the random treatment.
Here are the new plots, with the corrected n(z) distribution:

![Screen Shot 2019-06-20 at 10 41 53 AM](https://user-images.githubusercontent.com/36950825/60002363-cc4eeb00-9668-11e9-829c-493222ba9c32.png)
![Screen Shot 2019-06-20 at 10 34 52 AM](https://user-images.githubusercontent.com/369

[2019-06-24 13:28] londumas commented on #14
@TEtourneau, very good. THank you.

[2019-06-25 08:39] jmarclegoff commented on #41
To improve the procedure, we can produce two lognormal boxes corresponding to z_1 = 2.1 and z_2 = 3.5. We compute P1 = exp[a(z) g_1] with a(z) = b(z)/(1+z) / [ b_0/(1+z_1) ] and similarly P2 for z_2.
In a voxel at z we draw QSO proportional to a linear interpolation or extrapolation between P1 and P2.  This gives much closer values of r * xi(r) / a^2 as can be seen below.
z= 1.9 (blue), 2.1 or 3.5

[2019-06-25 09:52] jmarclegoff commented on #41
When we do an interpolation (z_1 < z < z_2) the resulting xi(r) is too large at small r, while it is too low  for an extrapolation (z < z_1 or z > z_2). If we now produce three lognormal boxes at z_1=1.9, z_2=2.75 and z_3=3.6 and consider e.g. z=2.3, the plot below shows the ratio r1 = xi /a^2(z) / xi_0 obtained by interpolating over [1.9;2.75] in blue and r2 obtained by extrapolating from [2.75;3

[2019-06-26 18:04] londumas opened #52 "tag version used to produce the 100 mocks"
@TEtourneau, if I understood well you produced 10 new mocks as candidate for the final 100.
Could you do a tag of the version used to produce them? So that we can easily recover any features that were there or recover any bugs produced afterward.

[2019-06-27 09:00] Waelthus opened #53 "Pixel sizes not constant in transmission files"
I observed that the pixel sizes of transmission files are not constant, but instead seem to vary between 197 and 203 kpc in a not completely random way (see plots).
I'm not sure if this causes problems for any analysis, but it might be good to figure out where it comes from.
Code below the figs was used to find the problem.

![reproduce_bug](https://user-images.githubusercontent.com/3012942/602523

[2019-06-28 08:38] TEtourneau commented on #15
The principal hardcoded parameters are now stored in
`py/SaclayMocks/constant.py`

[2019-06-28 14:28] TEtourneau commented on #11
Here is the measured drp on the 10 cross-correlations from the raw-mocks of version v4.4
![Screen Shot 2019-06-28 at 3 52 54 PM](https://user-images.githubusercontent.com/36950825/60349298-993a8d80-99c1-11e9-8965-5384dde7374a.png)

drp mean is -1.068 +/- 0.083 (1 sigma)

Edit: In fact it is from the eboss-0.2 (quickquasars + DLA) cross-correlations !
The measure mean drp on the raw-mocks is:
drp =

[2019-06-28 14:30] londumas commented on #11
@TEtourneau, good thanks for the plot. Could you add a plot of the stack or at least one correlation, along the first slice at rt==0? Like in here https://github.com/igmhub/LyaCoLoRe/issues/41#issuecomment-475660138

[2019-06-28 14:37] jmarclegoff commented on #11
Between versions 4.4 and 4.5, I corrected a stupid bug in the function that computes Gaussian smearing weights. This bug was changing where we read in the box by half a pixel, i.e. 1.095 Mpc/h.
I now realize that this should bring the mean drp to zero!
from -1.068 +- 0.083 to +0.027 +- 0.083
To be checked with version 4.5 mocks.

[2019-06-28 14:40] londumas commented on #11
@jmarclegoff, good. Looking at @TEtourneau plots, this can be checked with one realization.

[2019-06-28 15:18] TEtourneau commented on #11
Here are the plots:
![Screen Shot 2019-06-28 at 5 17 47 PM](https://user-images.githubusercontent.com/36950825/60352726-c3437e00-99c8-11e9-9fbc-2873e9f66004.png)
![Screen Shot 2019-06-28 at 5 18 16 PM](https://user-images.githubusercontent.com/36950825/60352727-c3dc1480-99c8-11e9-9256-1cd0167ed5e6.png)

The cross-correlations are taken from the raw-mocks. (I only took 9 on the 10 realisations beca

[2019-06-28 15:20] londumas commented on #11
@TEtourneau, Thanks for this. Indeed it is in the opposite direction as the London mocks. @jfarr03, maybe you have a similar bug as Saclay had?

[2019-06-28 15:22] TEtourneau commented on #11
The shift in the London mocks is much smaller than our, so I don't think it could be something similar. But I guess it is always worth to check it :)

[2019-06-28 15:24] jmarclegoff commented on #11
@TEtourneau, indeed have an effect of half a simulation voxels,
@jfarr03 the effect for London could rather be something like half a spectrum pixel?

[2019-06-28 15:32] jmarclegoff commented on #53
@Waelthus, I was able to reproduce your plot on a very small production on my laptop.
I also tried on London v8.0 mocks. The first plot shows that their pixel size is not constant but a zoom exhibits the same kind of structures as observed for Saclay mocks.

![image](https://user-images.githubusercontent.com/28785007/60351817-d8b7a880-99c6-11e9-85d5-3dd2e43cba19.png)

![image](https://user-images

[2019-06-28 15:52] jmarclegoff commented on #53
To be more precise, there is still some structure but with an order of magnitude lower amplitude
sigma_pixsize/pixsize: 0.000682920326908
max_pixsize: 0.20046625452, min_pixsize: 0.19950042148
the relative rms is 6.8E-4 instead of 5.3E-3
Here is a zoomed view at the location where the structure is the largest
![image](https://user-images.githubusercontent.com/28785007/60354629-f2f48500-99cc-11e9-8

[2019-07-01 08:43] jfarr03 commented on #11
@jmarclegoff Yes in the London mocks drp is around 1/2 the cell width. Can you point me to the code you changed to correct the error?

[2019-07-01 09:31] Waelthus commented on #53
Ok, so my approximation lead to the weird features and computing comoving distances more properly. I wouldn't have guessed that the approximations in my code (which are basically Deltaλ << λ [true on the 8e-5 level] when converting to velocity and assuming for each pixel that the Hubble function is constant within a pixel (true on the ~1e-4 level)) would produce differences that large.

The correc

[2019-07-01 09:31] #53 closed, assigned to jmarclegoff

[2019-07-01 10:45] jmarclegoff commented on #53
@Waelthus I agree that this is surprising.
So I thought maybe the approximation is actually in the R_of_z function, which is an interpolation. Since it is used both in the mocks and in my version of pixel_size.py the approximation may mostly cancel.
The default interpolation step is dz = 0.001, reducing it to 0.0001 does not change any digit of the output of your pixel_size.py. Increasing it to 0.

[2019-07-01 11:18] jmarclegoff commented on #53
Also if I apply my version of pixel_size.py to London mocks, the structures are reduced by an order of magnitude relative to what I was getting with yours (I am selecting the same range of lambda as above)
![image](https://user-images.githubusercontent.com/28785007/60432383-6a5f2a00-9c02-11e9-9587-ef50b668755b.png)

[2019-07-01 12:07] Waelthus commented on #53
I double checked the result using astropy.cosmology instead of cosmolpy. The comoving_distance function there does properly perform ∫ E(z)^-1 dz using `scipy.integrate.quad` to get the comoving distance and gives the same result you had.
For the London I didn't check. Might the tilt in pixel size be a slightly different cosmology they use? Or are they using the same one?

Anyway. We know now that

[2019-07-02 07:09] jmarclegoff commented on #11
@jfarr03 This is a stupid bug, from a time when I was learning python and fighting to vectorize the code so that I did not pay enough attention to the algorithm. I positioned the center of the cell at the edge of it!
at line 53 of https://github.com/igmhub/SaclayMocks/blob/master/bin/make_spectra.py
        cell_center = sp.array([(ix+0.5)*DX-LX/2,(iy+0.5)*DY-LY/2,(iz+0.5)*DZ-LZ/2+R0])
used to be

[2019-07-03 09:43] jvstermer commented on #11
For the latest version of the mocks, v4.5.0:
![document-1](https://user-images.githubusercontent.com/39825957/60582318-db304e80-9d88-11e9-983d-82529d1b8bb0.png)
![document-2](https://user-images.githubusercontent.com/39825957/60582319-db304e80-9d88-11e9-9a54-c9b652e30a99.png)

From the cross correlation of raw mocks with a down sampling of 600 000 quasars.
This result is to be confirmed with addit

[2019-07-03 15:10] londumas commented on #11
@jvstermer, this looks very good. Thanks.

[2019-09-12 00:02] alxogm commented on #17
Sorry, that I'm reopening this issue after so long. I checked my small piece of code to compute the fNHI against the London v9 mocks and works fine, as is, no need to split into regions as I was doing above (and never really improved it). Also gives a very similar result that an independent measure from James on such London mocks.
<img width="605" alt="Screen Shot 2019-09-11 at 1 02 40 AM" src="ht

[2019-09-20 09:50] #15 closed, assigned to TEtourneau

[2019-09-20 10:16] TEtourneau commented on #27
The current version of the code does not apply this 91.2 nm (rf) cut anymore.
Here is a plot showing the transmitted flux fraction as a function of lambda rest frame :
![Screen Shot 2019-09-20 at 12 15 07 PM](https://user-images.githubusercontent.com/36950825/65319675-7a066300-dba0-11e9-927c-9322d2c14c5f.png)

[2019-09-20 10:16] #27 closed, assigned to jmarclegoff, TEtourneau

[2019-09-20 10:18] TEtourneau commented on #31
The current version of the code is now storing the transmission down to 3476 A.
See py/SaclayMocks/constant.py (lambda_min).

[2019-09-20 10:18] #31 closed, assigned to TEtourneau

[2019-09-22 13:45] TEtourneau commented on #16
The fixing of the seed has been improved: now the seed of the job i is fixed to the specified seed (42 for instance) + the index of the i.

[2019-09-22 13:45] #16 closed, assigned to TEtourneau

[2019-09-25 12:40] TEtourneau commented on #41
Since version v4.6, the mocks include 3 lognormal fields that are interpolated in order to compute xi_qso at any redshift. The 3 lognormal boxes are produced at z1 = 1.9, z2 = 2.75, z3 = 3.6.
Here are plots showing the auto-correlation of QSO in 3 redshift bins:
- 1.8 < z < 2.1
![image](https://user-images.githubusercontent.com/36950825/65602582-68f49200-dfa4-11e9-93ba-8ab9c0920bcb.png)
![image](h

[2019-09-25 16:18] londumas commented on #41
@TEtourneau, looks very good. Congrats

[2019-09-26 09:29] #41 closed, assigned to jmarclegoff

[2019-09-27 07:16] TEtourneau commented on #17
I managed to use the dn/dz and f(N_HI) distribution from pyigm (using the functions from LyaCoLoRe: https://github.com/igmhub/LyaCoLoRe/blob/master/py/DLA.py)
Here are plots showing the current distributions in the mocks (on realisation v4.7.1):
![Screen Shot 2019-09-26 at 1 22 33 PM](https://user-images.githubusercontent.com/36950825/65698213-767d4b00-e07c-11e9-8ccc-9db976880a45.png)
![Screen Sho